<nav class="sticky inset-x-0 top-0 z-50 bg-white border-b-2 border-black">
  <div class="container">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex items-center flex-shrink-0">
          <%= render 'components/logo' %>
        </div>
        <div class="hidden lg:ml-6 lg:flex">
          <%= active_link_to 'Explore', root_path, class: 'navigation-link', active: :exclusive %>
          <%= active_link_to 'Shared', user_posts_path, class: 'navigation-link', active: :exclusive %>
          <%= active_link_to 'Liked', user_likes_path, class: 'navigation-link', active: :exclusive %>
          <%= active_link_to 'Tags', tags_path, class: 'navigation-link' %>
          <%= active_link_to 'Leaderboard', leaderboard_path, class: 'navigation-link' %>
        </div>
      </div>

      <%= form_with url: root_path, method: :get, local: true, class: 'flex items-center justify-center flex-1 px-2 lg:ml-6 lg:justify-end' do |f| %>
        <div class="w-full max-w-lg lg:max-w-xs">
          <%= f.label :search, 'Search posts', class: 'sr-only' %>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-xl pointer-events-none">🕵️‍♀️</div>
            <%= f.text_field :search, class: 'w-full pl-10 border-2 border-black form-input', placeholder: "Search posts" %>
          </div>
        </div>
      <% end %>

      <div class="relative flex items-center lg:hidden" data-controller="reveal">
        <button type="button" class="inline-flex items-center justify-center w-10 h-10 bg-gray-100 rounded" data-action="reveal#toggle" aria-label="Open menu">
          <span class="text-2xl">🙋‍♀️</span>
        </button>

        <div class="absolute top-0 right-0 z-10 w-48 mt-16 origin-top-right" hidden data-reveal>
          <div class="py-1 bg-white border-2 border-gray-200 rounded-md">
            <%= link_to "Explore", root_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <%= link_to "Shared", user_posts_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <%= link_to "Liked", user_likes_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <%= link_to "Tags", tags_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <%= link_to "Leaderboard", leaderboard_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <% if user_signed_in? %>
              <%= link_to "Account", edit_user_registration_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
              <%= link_to "Login", new_user_session_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="hidden lg:ml-3 lg:flex lg:items-center" data-controller="reveal">
        <div class="relative flex-shrink-0">
          <div>
            <button type="button" class="inline-flex items-center justify-center w-10 h-10 bg-gray-100 rounded" data-action="reveal#toggle" aria-label="Open menu">
              <span class="text-2xl">🙋‍♀️</span>
            </button>
          </div>
          <div class="absolute right-0 z-10 w-48 mt-2 origin-top-right" hidden data-reveal>
            <div class="py-1 bg-white border-2 border-gray-200 rounded-md">
              <% if user_signed_in? %>
                <%= link_to "Account", edit_user_registration_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
                <%= link_to "Login", new_user_session_path, class: 'block hover:bg-blue-100 hover:text-blue-700 m-2 px-4 py-2 text-sm font-medium text-gray-500 rounded-md' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
