<% set_meta_tags title: @post.title,
                 description: truncate(strip_tags(@post.description.to_s), length: 140),
                 og: { title: @post.title } %>

<div class="relative overflow-hidden bg-white">
  <div class="container py-12 sm:py-16 lg:py-20">
    <div class="md:flex md:items-center md:justify-between">
      <div class="max-w-xl">
        <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
          <%= @post.title %>
        </h1>
        <p class="mt-4 text-sm font-medium text-gray-500">
          <%= @post.username %>
        </p>
      </div>
      <div class="mt-3 md:ml-3 md:mt-0">
        <%= render 'like', post: @post %>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative p-6 mb-8 bg-gray-100 border-2 border-black rounded-lg lg:mb-0 lg:row-start-1 lg:col-start-2">
        <div data-controller="clipboard">
          <div class="flex items-center">
            <h4 class="font-semibold">Gem</h4>
            <button type="button" 
                    data-action="clipboard#copy" 
                    class="px-2 py-1 ml-1.5 hover:bg-gray-200 font-semibold text-xs bg-gray-300 rounded">
              Copy
            </button>
          </div>
          <div class="mt-2 prose">
            <code class="px-2 py-1 bg-gray-200 rounded-md">
              <%= @post.gem %>
            </code>
          </div>
          <input type="text" value="<%= @post.gem %>" class="sr-only" data-target="clipboard.source">
        </div>
        
        <div class="mt-6" data-controller="clipboard">
          <div class="flex items-center">
            <h4 class="font-semibold">Config</h4>
            <button type="button" 
                    data-action="clipboard#copy" 
                    class="px-2 py-1 ml-1.5 hover:bg-gray-200 font-semibold text-xs bg-gray-300 rounded">
              Copy
            </button>
          </div>
          <div class="mt-2 prose">
            <pre class="overflow-y-scroll max-h-64"><%= @post.config %></pre>
          </div>
          <input type="text" value="<%= @post.config %>" class="sr-only" data-target="clipboard.source">
        </div>
      </div>
      
      <div>
        <div class="flex items-center space-x-2">
          <% @post.tags.each do |tag| %>
            <%= link_to tag_path(tag) do %>
              <%= render 'components/tag', title: tag.name %>
            <% end %>
          <% end %>
        </div>
        <div class="mx-auto mt-4 prose max-w-prose lg:max-w-none">
          <%= @post.description %>
        </div>
      </div>
    </div>
  </div>
</div>
