<!DOCTYPE html>
<html>
  <head>
    <title>Rubocoppers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'components/navigation' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'components/footer' %>

    <%= render 'components/flash' %>

    <% unless devise_controller? || current_user.nil? %>
      <% unless @post.present? && @post.user != current_user %>
        <div data-controller="reveal">
          <%= render 'components/toggle_side_form_button' %>
          <div 
            class="fixed inset-0 z-50 bg-black bg-opacity-25" 
            hidden 
            data-reveal
            data-action="click->reveal#toggle" 
            ></div>
          <%= render 'components/side_form' %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
